.clients{
    padding-top: 180px;
    padding-bottom: 115px;
    background-color: var(--color-light);
    &__list{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 102px;
    }

    &__title{
        margin: 0;
        margin-bottom: 60px;
    }
}