.learn-more{
    @include flex-all-center;

    &__subtitle{
        margin: 0;
        margin-right: 40px;
        color: var(--color-gray900);
        font-size: 28px;
        font-weight: 700;
        line-height: 150%; /* 42px */
    }
}