.page-hero {
    padding-top: 153px;
    padding-bottom: 80px;
    min-height: 600px;
    background-position: right -8px top;
    background-repeat: no-repeat;
    background-color: var(--color-gray200);

    &__breadcrumbs {
        margin-bottom: 40px;
    }


    &__title {
        margin: 0;
        margin-bottom: 23px;
        color: var(--color-gray900);
        max-width: 600px;
        font-size: 72px;
        font-weight: 700;
        line-height: 130%;
        /* 93.6px */
        letter-spacing: 1px;
        text-transform: uppercase;

        &--small {
            font-size: 64px;
            line-height: 120%;
            /* 76.8px */
            letter-spacing: 1px;
            text-transform: initial;
        }

        &--mb{
            margin-bottom: 60px;
        }
    }

    &__descr {
        margin: 0;
        max-width: 600px;
        color: var(--color-gray700);
        font-size: 20px;
        line-height: 150%;
        /* 30px */
    }

    &--services {
        background-image: url("../img/services-hero-bg.png");
    }

    &--services-inner {
        background-image: url("../img/services-inner-hero-bg.png");

    }

    &--work {
        background-image: url("../img/work-hero-bg.png");
    }

    &--work-inner {
        background-color: var(--color-light);
        background-image: url("../img/work-inner-hero-bg.png");
        background-position: right -8px top 49px;
    }

    &--about {
        background-image: url("../img/about-hero-bg.png");
    }

    &--positions{
        background-image: url("../img/positions-hero-bg.png");
        background-position: right -10px bottom;
    }

    &--news {
        background-image: url("../img/news-hero-bg.png");
    }
}