// colors
:root {
  --color-light: #fff;
  --color-black: #000;
  --color-primary: #ff5a30;
  --color-success: #03cea4;
  --color-danger: #ff4242;
  --color-warning: #f89828;
  --color-info: #5A87FC;
  --color-gray900: #1e212c;
  --color-gray800: #424551;
  --color-gray700: #787a80;
  --color-gray600: #9a9ca5;
  --color-gray500: #b3b7bc;
  --color-gray400: #d7dadd;
  --color-gray300: #e5e8ed;
  --color-gray200: #f4f5f6;
  --color-gray100: #f9f9f9;
  --color-gray900: #1e212c;
}
